.app, body, html{
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.fa-shopping-cart {
    color: white;
}


ul {
    list-style-type: none;
}

/*Product CSS*/
.item-name, .product-name {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.product-profile {
    display: inline-block;
    text-align: center;
    margin: 0.5rem;
    padding: 0;
    width: 320px;
}

.product-img {
    width: 300px;
    height: 300px;
    padding: 0.5rem;
    border-radius: 10px 50px;
}

.product-link, .product-name {
    text-decoration: none;
    padding: 0;
    color: black;
}

.profile-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Search*/
.search-bar {
    width: 300px;
    height: 40px;
}

.search-btn {
    height: 40px;
    background-color: #232323;
    color: ghostwhite;
}

.form {
    margin: 1rem;
}

/* Cart styles */
.return-btn, .checkout-btn {
    margin: 0.5rem;
}